<%= form_for @question do |f| %>
  <% @question.errors.each do |attr, msg| %>
    <p><%= msg %></p>
  <% end %>
  <div class="form-group">
    <%= f.label :title, class: "control-label" %>
    <div>
      <%= f.text_field :title, placeholder: "what's your programming question? Be specific.", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :body, "Question", class: "control-label" %>
    <%= render 'shared/code_tags' %>
    <div>
      <%= f.text_area :body, rows: 10, class: "form-control", id: "description" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tags, "Comma Separated Tags", class: "control-label" %>
    <div>
      <%= f.text_field :tags, placeholder: "at least one tag such as (java ruby php), max 5 tags", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="action">
      <%= f.submit "Ask This", class: "btn btn-default" %>
    </div>
  </div>
<% end %>

<script>function codeTag(lang){document.getElementById('description').value += "\n[code=" + lang + "]\n\n[/code]";}</script>
