<div id="qshow" class="container">
	<div class="row">
		<div class="col-xs-12">

			<div id="question">
				<h1><%= @question.title %></h1>
				<p><%= fix_code_tags @question.body %></p>
				<p><strong>author: </strong> <%= @question.author %></p><br>

				<% if @question.comments.size > 0 %>
					<div class="comments">
						<% for comment in @question.comments %>
							<div class="comment">
								<p><%= comment.body %> - <%= comment.author %></p>
							</div>
						<% end %>
					</div>
				<% end %>

				<div><span class="addcmnt" onclick="$('#qcmnt').toggle();">Add a Comment</span></div>

				<div class="cmntform" id="qcmnt">
					<%= form_tag "/comments", method: :post do |f| %>
						<div class="form-group">
							<div>
								<textarea id="body" name="body" class="form-control"></textarea>
								<input id="q_id" name="q_id" type="hidden" value="<%= @question.id %>">
							</div>
						</div>
						<div class="form-group">
							<div class="action">
								<button type='submit' class='btn btn-default'>Submit Comment</button>
							</div>
						</div>
					<% end %>
				</div>
			</div>

			<% if @question.answers.size > 0 %>
				<h3 class="answers">Answers</h3>
				<% for answer in @question.answers %>
					<div class="answer">
						<p><%= answer.body %></p>
						<p><strong>author: </strong> <%= answer.author %></p>

						<% if answer.comments.size > 0 %>
							<div class="comments">
								<% for comment in answer.comments %>
									<div class="comment">
										<p><%= comment.body %> - <%= comment.author %></p>
									</div>
								<% end %>
							</div>
						<% end %>

						<div><span class="addcmnt" onclick="$('#<%= answer.id %>').toggle();">Add a Comment</span></div>

						<div class="cmntform" id="<%= answer.id %>">
							<%= form_tag "/comments", method: :post do |f| %>
								<div class="form-group">
									<div>
										<textarea id="body" name="body" class="form-control"></textarea>
										<input id="q_id" name="q_id" type="hidden" value="<%= @question.id %>">
										<input id="a_id" name="a_id" type="hidden" value="<%= answer.id %>">
									</div>
								</div>
								<div class="action">
									<button type='submit' class='btn btn-default'>Submit Comment</button>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			<% end %>

			<h3 id="yours">Your Answer</h3>

			<%= form_for [@question, Answer.new] do |f| %>
				<div class="form-group">
					<div>
						<%= f.text_area :body, rows: 8, class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<div class="action">
						<%= f.submit "Submit Answer", class: "btn btn-default" %>
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>
