<%= form_for @profile, :html => { :class => "form-horizontal", :role => "form" } do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" class="form-group">
    <%= f.label :display_name, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :display_name, class: "form-control" %><br />
    </div>
  </div>

  <div class="field" class="form-group">
    <%= f.label :gravatar_email_address, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :gravatar_email, class: "form-control" %>
      <span class="help-block"><a href="http://www.gravatar.com" target="_blank">Gravatar</a> is a cool service that lets you use a globally recognized avatar.  Enter the full email address you have registered with Gravatar.</span><br />
    </div>
  </div>
  
  <div class="field" class="form-group">
    <%= f.label :tagline, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :tagline, class: "form-control" %><br />
    </div>
  </div>
  
  <div class="field" class="form-group">
    <%= f.label :reputation, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :reputation, :disabled => :true %><br /><br/>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Update', class: "btn btn-default" %>
    </div>
  </div>
<% end %>
