<span id="insert-code">insert code tags for: </span>
<%= button_to_function "java", "codeTag('java')", class: "btn btn-default btn-xs code-tag" %>
<%= button_to_function "ruby", "codeTag('ruby')", class: "btn btn-default btn-xs code-tag" %>
<%= button_to_function "c++", "codeTag('c++')", class: "btn btn-default btn-xs code-tag" %>
<%= button_to_function "perl", "codeTag('perl')", class: "btn btn-default btn-xs code-tag" %>
<%= button_to_function "python", "codeTag('python')", class: "btn btn-default btn-xs code-tag" %>
<%= button_to_function "javascript", "codeTag('javascript')", class: "btn btn-default btn-xs code-tag" %>
<%= button_to_function "html", "codeTag('html')", class: "btn btn-default btn-xs code-tag" %>
<%= button_to_function "css", "codeTag('css')", class: "btn btn-default btn-xs code-tag" %>
