<span id="insert-code">insert code tags for: </span>
<%= button_to_function "java", "editCodeTag('java')", class: "btn btn-default btn-xs code-tag" %>
<%= button_to_function "ruby", "editCodeTag('ruby')", class: "btn btn-default btn-xs code-tag" %>
<%= button_to_function "c++", "editCodeTag('c++')", class: "btn btn-default btn-xs code-tag" %>
<%= button_to_function "perl", "editCodeTag('perl')", class: "btn btn-default btn-xs code-tag" %>
<%= button_to_function "python", "editCodeTag('python')", class: "btn btn-default btn-xs code-tag" %>
<%= button_to_function "javascript", "editCodeTag('javascript')", class: "btn btn-default btn-xs code-tag" %>
<%= button_to_function "html", "editCodeTag('html')", class: "btn btn-default btn-xs code-tag" %>
<%= button_to_function "css", "editCodeTag('css')", class: "btn btn-default btn-xs code-tag" %>
