<ul class="list-group">
  <% @questions.each do |q| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-1 vcounter">
          <div class="vote-count">
            <span class="count-data"><%= q.vote_count %></span><br>
            <span class="count-type">votes</span>
          </div>
        </div>
        <div class="col-xs-1 acounter">
          <div class="answer-count">
            <span class="count-data"><%= q.answers.count %></span><br>
            <span class="count-type">answers</span>
          </div>
        </div>
        <div class="col-xs-10">
          <span class="title"><%= link_to q.title, q %></span><br>
          asked <%= q.created_at.strftime("%b %d '%y at %-H:%M") %> by <%= q.user.name %>
        </div>
    </li>
  <% end %>
</ul>
